.advantages-bg {
    background-color: var(--color-12) ;
}

.advantages {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.advantages h2 {
    padding-bottom: 3.75rem;
}

.advantages ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 2.5rem 5rem;
}

.advantages h3,
.advantages img {
    margin-bottom: 0.5rem;
}

@media (max-width:800px) {
    .advantages {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }

    .advantages h2 {
        margin-bottom: 2.5rem;
    }
    .advantages ul {
        gap: 1.25rem;
    }
}

