.partners {
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
}

.partners h2 {
    margin-bottom: 5rem;
}

.partners ul {
    padding: 0 1.25rem;
    max-width: 87.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.partners li {
    display: flex;
    padding: 2rem;
    border-left: 2px solid var(--color-2);
}

.partners li:first-child, /*primeiro elemento da li*/
 .partners li:nth-child(5){ /*quinto elemento da li*/
    border-left: none;
}
.partners li:nth-child(n+5){ /*a partir do quinto elemento da li*/
    border-top: 2px solid var(--color-2);
}

.partners img {
    margin: auto; /*alinhar ao centro a img - precisa esta com a li como display flex*/
}

@media (max-width: 800px) {
    .partners {
        padding-bottom: 3.75rem;        
    }
    .partners h2 {
        margin-bottom: 1.25rem;
    }
    .partners ul {
        grid-template-columns: repeat(2, 1fr);
    }
     .partners li:nth-child(n+3){ /*a partir do quinto elemento da li*/
        border-top: 2px solid var(--color-2);
    }
    
    /*
    Uma opção de tirar a border left dos elementos 3 e 7 devido estar distribuido em display grid em duas colunas: 
    .partners li:nth-child(3),
    .partners li:nth-child(7){ 
        border-left: none;
    }
    */

    /*Remov border left dos elementos impares*/
   .partners li:nth-child(odd) {
    border-left: none;
   } 
}
