.tecnology-bg {
    background-color: var(--color-11);
    box-shadow: inset 0 5rem var(--color-0), inset 0 -5rem var(--color-0);
   
}

.tecnology {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.tecnology-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.tecnology-content {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.tecnology-content > span {
    display: block;
    margin-bottom: 1.25rem;
}

.tecnology-content h2 {
    margin-bottom: 2rem;
}

.tecnology-content > p {
    margin-bottom: 1.25rem;
}

.tecnology-content a {
    margin-bottom: 5rem;
}

.tecnology-benefits {
    display: flex;
    gap: 2.5rem;
}

.tecnology-content h3{
    margin-bottom: 0.5rem;
    width: max-content;/*não vai quebrar o h3, vai ficar na mesma linha*/
}

.tecnology-content img {
    width: 1.5rem;
}


@media (max-width: 800px) {
    .tecnology-bg {
        
        box-shadow: initial;
    }
    .tecnology {
        grid-template-columns: 1fr;
    }
    .tecnology-content {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
    .tecnology-image img {
        display: none;
    }
    .tecnology-content a {
        margin-bottom: 3.75rem;
    }
}

@media (max-width: 600px){
    .tecnology-benefits {
        flex-direction: column;
        
    }
}



