#budgets {
    background: linear-gradient(var(--color-11) 38rem, var(--color-1) 0);
}

.budget {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 7.5rem;
}

.budget h2 {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.budget h2::before {
    content: "";
    display: inline-block;
    width: 0.25rem;
    height: 0.5rem;
    background-color: var(--color-p1);
    position: absolute;
    left: -0.75rem;
}

.budget-product,
.budget-data {
    padding: 3.75rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.budget-product {
    border-radius: 5px 0 0 5px;
    background: var(--color-12);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    align-content: start;
}

.budget-product > * {
    grid-column: 1/-1;
}

.budget-product > label {
    grid-column: initial;
}

.budget-product label {
    font: 400 1rem/1.5 "Poppins", sans-serif;
    color: var(--color-4);
    background-color: var(--color-10);
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.budget-product input:checked + label {
    background: var(--color-0);
    color: var(--color-11);
}

.budget-product label::before {
    content: "";
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid var(--color-6);
    border-radius: 50%;
    margin-right: 0.5rem;

}

.budget-product input:checked + label::before {
    border-color: var(--color-7);
    box-shadow: inset 0 0 0 3px var(--color-0), inset 0 0 0 6px var(--color-7);
}

.budget-product input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}



.budget-data {
    border-radius:0 5px 5px 0;
    background: var(--color-0);
}

#bikcraft:checked ~ #budget-bikcraft,
#insurance:checked ~ #budget-insurance {
    display: block;
}


